{
  "presets": ["@babel/react", "@babel/typescript"],
  "plugins": [
    "@babel/plugin-proposal-function-bind",
    [
      "babel-plugin-styled-components",
      {
        "ssr": false
      }
    ]
  ]
}
